[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
numpy = "*"
pandas = "*"
flask = "*"
plotly = "*"
scipy = "*"
gunicorn = "*"
xlrd = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python app.py"
