<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="page">

  <h4>多層地盤中の杭の非線形解析</h4>

  <div>弾性支承梁の微分方程式を差分法によって解析し、杭の応力を算出する。</div>
  <br>

  <form method="POST" action="/">

    <table style="width: 100%; table-layout: fixed;">
      <tr>
        <th>解析モード</th>
        <th>杭頭条件</th>
        <th>杭脚条件</th>
        <th>材質</th>
      </tr>
      <tr>
        <td>
          <label><input type="radio" name="mode" value="non_liner" {{ "checked" if mode=="non_liner" }} >非線形 (複層地盤)</label>
          <label><input type="radio" name="mode" value="non_liner_single" {{ "checked" if mode=="non_liner_single" }} >非線形 (単層地盤)</label>
          <label><input type="radio" name="mode" value="liner" {{ "checked" if mode=="liner" }} >線形</label>
        </td>
        <td>
          <label><input type="radio" name="condition" value="fix" {{ "checked" if condition=="fix" }}>固定</label>
          <label><input type="radio" name="condition" value="pin" {{ "checked" if condition=="pin" }}>ピン</label>
          <label><input type="radio" name="condition" value="half" disabled {{ "checked" if condition=="half" }}>半固定</label>
        </td>
        <td>
          <label><input type="radio" name="bottom_condition" value="free" {{ "checked" if bottom_condition=="free" }}>自由</label>
          <label><input type="radio" name="bottom_condition" value="pin" disabled {{ "checked" if bottom_condition=="pin" }}>ピン</label>
          <label><input type="radio" name="bottom_condition" value="fix" disabled {{ "checked" if bottom_condition=="fix" }}>固定</label>
        </td>
        <td>
          <label><input type="radio" name="material" value="concrete" {{ "checked" if material=="concrete" }}>コンクリート</label>
          <label><input type="radio" name="material" value="steel" {{ "checked" if material=="steel" }}>鉄</label>
          <label><input type="radio" name="material" value="other" disabled {{ "checked" if material=="other" }}>その他</label>
        </td>
      </tr>
    </table>
    <br>

    <table style="width: 100%">
      <tr>
        <th>杭径 (mm)</th>
        <th>杭長 (m)</th>
        <th>杭天端 (m)</th>
        <th>入力水平力 (kN)</th>
      </tr>
      <tr>
        <td>
          <input type="number" name="diameter" value="{{ diameter }}">
        </td>
        <td>
          <input type="number" name="length" step="0.1" value="{{ length }}">
        </td>
        <td>
          <input type="number" name="level" step="0.1" value="{{ level }}">
        </td>
        <td>
          <input type="number" name="force" value="{{ force }}">
        </td>
        <td>
          <button type="submit">solve</button>
        </td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td style="text-align: center">{{ solution_time }}</td>
      </tr>
    </table>
  </form>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="upload_area" aria-disabled="false">
      <input type="file" name="uploadFile" accept=".xlsx">
      <input type="submit" value="upload">
    </div>
  </form>

  <details {{ "open" if isOpen }}>
    <summary>地盤情報...</summary>
    <table class="input">
      <tr>
        <th>深度</th>
        <th>N値</th>
        <th>土質</th>
        <th>alpha</th>
        <th>低減係数</th>
        <th>採用</th>
        <th>E0</th>
      </tr>
      {{ soil_table | safe }}
    </table>
  </details><br>
 
  <table style="width: 100%" class="result">
    <tr>
      <th></th>
      <th>
        <div>kh</div>
        <div class="unit">kN/m3</div>
      </th>
      <th>
        <div>変形</div>
        <div class="unit">mm</div>
      </th>
      <th>
        <div>変形角</div>
        <div class="unit">×10<sup>-3</sup> rad</div>
      </th>
      <th>
        <div>曲げモーメント</div>
        <div class="unit">kNm</div>
      </th>
      <th>
        <div>せん断力</div>
        <div class="unit">kN</div>
      </th>
    </tr>
    <tr>
      <th>MAX</th>
      <td>{{ kh[0] }}</td>
      <td>{{ deformation[0] }}</td>
      <td>{{ degree[0] }}</td>
      <td>{{ moment[0] }}</td>
      <td>{{ shear[0] }}</td>
    </tr>
    <tr>
      <th>MIN</th>
      <td>{{ kh[1] }}</td>
      <td>{{ deformation[1] }}</td>
      <td>{{ degree[1] }}</td>
      <td>{{ moment[1] }}</td>
      <td>{{ shear[1] }}</td>
    </tr>
  </table>

  {{ fig | safe }}

</div>

</body>
</html>
