/* A4 PAGE LAYOUT -------------------------------------------------------- */

.page {
    position: relative;
    width: 190mm;
    min-height: 277mm;
    padding: 10mm;
    margin: 10mm auto;
    margin-top: 5mm;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px lightgrey;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    html,
    body {
      width: 210mm;
      height: 297mm;
    }
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
