/* #region Result table */
table.result {
  table-layout: fixed;
}
table.result th {
  /* background-color:  #607D8B; */
  border: solid darkgray 1px;
  text-align: center;
  /* color: white; */
  padding: 0;
}
table.result td {
  /* background-color: #CFD8DC; */
  border: solid darkgray 1px;
  padding: 2px 5px;
  text-align: right;
}
div.unit {
  font-weight: normal;
}

/* #endregion */

/* #region Input table */
table.input input {
  border: 0px solid #000;
  margin: 0;
  background: transparent;
  height: initial;
  border-radius: initial;
  width: 100%;
  text-align: right;
}
table.input th {
  padding: 3px 3px;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  text-align: center;
}
table.input tr td {
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  padding: 2px 2px;
  text-align: right;
}
table.input {
  background: #eee none repeat scroll 0 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  width: 100%;
}
/* #endregion */

/* #region Upload area */
div.upload_area {
  width: 95%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  margin: 10px;
}
/* #endregion */

/* #region Modal menu */
#modal-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 100, 100, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s ease-out;
  pointer-events: none;  /* 透明状態でもクリックを拾ってしまうので */
}
/* bodyにis-menu-openクラスが付いたらモーダル表示 */
body.is-menu-open #modal-menu {
  opacity: 1;
  pointer-events: auto;
}
/* bodyにis-menu-openクラスが付いたら#contentをぼかしフィルター付与 */
body.is-menu-open #content {
  pointer-events: none;
  transition: all .2s ease-out;
  -webkit-filter: blur(3px);
     -moz-filter: blur(3px);
      -ms-filter: blur(3px);
          filter: blur(3px);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 10px 30px 30px;
  background-color: #fff;
  border-radius: 15px;
}
.menu-close-btn {
  position: absolute;
  font-size: 2rem;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
}
/* #endregion */

/* #region toggle switch */

switch.ios-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 3.3em;
  height: 2em;
  max-width: 100%;
  background: white;
  border-radius: 100em;
  box-shadow: inset 0px 1px 1px 1px #d6d6d6, inset 0 -1px 1px 1px #ececec, inset 0 0 0px 2px #f5f5f5;
}
switch.ios-toggle::before {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 50%;
  height: 80%;
  background: white;
  border-radius: 100%;
  box-shadow: -2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
  transition: all .2s;
}
switch.ios-toggle.on {
  background: #00de00;
  box-shadow: unset;
}
switch.ios-toggle.on::before {
  margin-left: 40%;
  box-shadow: 2px 2px 2px 0 #bbbbbb, 0px 0px 10px 0 #e4e4e4;
}

/* #endregion */

.content-detail {
  position: relative;
  width: 210mm;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  border-radius: 5px;
}
.content-detail-left {
  height: 3em;
  padding: 1em;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}
.content-inner {
  font-size: 1.1em;
}
